.projects {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffd700;
  font-family: "Lekton";
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 28px;

  z-index: 5;
}